@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

h1 {
    color: white;
    font-family: var(--fonte2);
    font-size: 90px;
    left: auto;
    right: auto;
    padding-top: 100px;
}

a > h2 {
    color: white;
    font-family: var(--fonte1);
    margin: 28px;
}

header {
    text-align: center;
    background-color: black;
    height: 290px;
}

p {
    font-family: var(--fonte3);
    font-size: 3em;
}

main > p {
    padding-bottom: 10%;
}

div.img {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#i1{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    
}

div > p {
    color: white;
    background-color: #0000009e;
    width: 560px;
    margin: 1em;
}

div#i2{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer {
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: var(--fonte1);
    text-align: center;
}